doctype html
html
  head
    title= title
    link(
      rel='shortcut icon'
      href='/dist/images/website_icon.svg'
    )
    block head_stylesheets
  body
    block content
    block bottom_scripts
