{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 9"]
        },
        "production": {
          "plugins": [
            [
              {
                "mode": "remove",
                "removeImport": true,
                "ignoreFilenames": ["node_modules"],
              }
            ]
          ]
        }
      }
    ],
  ],
  "plugins": [
    [
      "namespaces",
      {
        "namespaces": {
          "c": "../../browsers/common/components",
          "utils": "../../browsers/common/utils",
          "constants": '../../browsers/common/constants',
          "libs": "../../browsers/libs",
          "website-admin": "../../browsers/website-admin/js",
          "website-account": "../../browsers/website-account/js",
        }
      }
    ],
    "syntax-dynamic-import",
    "transform-async-to-generator",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-function-bind",
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
