#Compiled file
dist
node_modules
*.log
config.json

servers/website-account/common
servers/website-admin/common
servers/common/common

browsers/dll/*
browsers/libs/common_vendors*.js
browsers/libs/common_vendors*.css

package-lock.json
