extends layout

block head_stylesheets
  link(
    href='/dist/libs/common_vendors.css'
    rel="stylesheet"
    type="text/css"
  )

block content
  div#app

block bottom_scripts
  script(
    src='/dist/libs/common_vendors-' + JS_VENDORS_VERSION + '.js'
  )
  script(
    src='<%= htmlWebpackPlugin.files.chunks.website_vendors.entry %>'
  )
  script(
    src='<%= htmlWebpackPlugin.files.chunks.website_account.entry %>'
  )
