extends layout

block head_stylesheets

block content
  div#app

block bottom_scripts
  script(
    src='/dist/libs/common_vendors_' + VENDORS_VERSION + '.js'
  )
  script(
    src='<%= htmlWebpackPlugin.files.chunks.website_vendors.entry %>'
  )
  script(
    src='<%= htmlWebpackPlugin.files.chunks.website_account.entry %>'
  )
