{
  "presets": [
    [
      "@babel/preset-env",
      {
        targets: {
          "node": "10.15.1"
        }
      }
    ]
  ],

  "env": {
    "production": {
      "plugins": [
        [
          {
            "mode": "remove",
            "removeImport": true,
            "ignoreFilenames": ["node_modules"]
          }
        ]
      ]
    }
  },

  "ignore": ["node_modules"],

  "plugins": [

    [
      "namespaces",
      {
        "namespaces": {
          "common": "./common",
          "account": "./website-account",
          "admin": "./website-admin"
        }
      }
    ],

    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],

    [
      "@babel/plugin-proposal-pipeline-operator",
      {
        "proposal": "smart"
      }
    ],

    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator",
  ]
}
