{
  "presets": [
    [
      "env",
      {
        targets: {
          "node": "10.15.1"
        }
      }
    ]
  ],
  "ignore": ["node_modules"],
  "plugins": [
    [
      "namespaces",
      {
        "namespaces": {
          "common": "./common",
          "account": "./website-account",
          "admin": "./website-admin"
        }
      }
    ],
    "transform-decorators-legacy",
  ]
}
