{
  "presets": [
    [
      "@babel/preset-env",
      {
        targets: {
          "node": "10.15.1"
        }
      }
    ]
  ],
  "ignore": ["node_modules"],
  "plugins": [

    [
      "namespaces",
      {
        "namespaces": {
          "common": "./common",
          "account": "./website-account",
          "admin": "./website-admin"
        }
      }
    ],

    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],

    [
      "@babel/plugin-proposal-pipeline-operator",
      {
        "proposal": "minimal"
      }
    ],

    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator",
  ]
}
