extends layout

block head_stylesheets

block content
  div#app

block bottom_scripts
  script(
    src='<%= htmlWebpackPlugin.files.chunks.website_vendors.entry %>'
  )
  script(
    src='<%= htmlWebpackPlugin.files.chunks.website_admin.entry %>'
  )
