{
  "REDIS_HOST": "127.0.0.1",
  "REDIS_PORT": "6379",
  "LOG_PATH": "/website/log",
  "API_BASEURL": "api.website.com",
  "API_TIMEOUT": "1000",

  "ACCOUNT": {
    "SESSION_SECRET": "GeFFfy2XkcrA2",
    "API_NAMESPACE": "",
    "USER_AGENT": "Website Account"
  },

  "ADMIN": {
    "SESSION_SECRET": "BPuH9EDFggU",
    "API_NAMESPACE": "",
    "USER_AGENT": "Website Admin"
  }
}
