{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 9"]
        },
      }
    ],
  ],

  "ignore": ["node_modules"],

  "plugins": [
    [
      "namespaces",
      {
        "namespaces": {
          "common": "./common",
          "c": "./common/components",
          "utils": "./common/utils",
          "constants": './common/constants',
          "libs": "./libs",
          "website-admin": "./website-admin",
          "website-account": "./website-account"
        }
      }
    ],

    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],

    [
      "@babel/plugin-proposal-pipeline-operator",
      {
        "proposal": "smart"
      }
    ],

    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator",
  ]
}
