{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/no-autofocus": "off",
    "jsx-a11y/label-has-for": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "object-curly-newline": "off",
    "import/no-webpack-loader-syntax": "off",
    "no-underscore-dangle": "off",
    "no-param-reassign": "off",
    "radix": [1, "as-needed"],
    "one-var": [0],
    "one-var-declaration-per-line": [2, "initializations"],
    "class-methods-use-this": "off",
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore"
    }],
    "arrow-parens": ["error", "always"],
    "arrow-body-style": "off",
    "no-plusplus": "off",
    "func-names": "off",
    "function-paren-newline": "off",
    "newline-per-chained-call": "off",

    "max-len": [1, {
      "code": 100,
      "tabWidth": 2,
      "ignoreUrls": true,
      "ignoreComments": true,
      "ignoreRegExpLiterals": true,
      "ignoreTrailingComments": true,
      "ignorePattern": "^(\\s*[a-zA-Z_]+: '[^']+'[,;]*)|(.*gettext.*)|(.*interpolate.*)|(.*require.*)|(.*_\\.template.*)|(<svg .*)|(<rect .*)|(<polygon .*)$"
    }],

    "import/no-unresolved": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",

    "jsx-a11y/no-static-element-interactions": "off",

    "prefer-promise-reject-errors": "off"
  },
  "globals": {
    "window": true,
    "document": true,
    "alert": true,
    "USER": true,
    "APP": true,
    "XMLHttpRequest": true,
    "CONFIG": true,
    "ENV": true
  }
}
